body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: #7289da;
}

.login-box {
  background-color: #202431;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  height: 50vh;

  box-shadow: 5rem 2rem 10rem 0 rgba(0, 0, 0, 0.8);
}

.login-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  padding-left: 0%;
  margin-left: -10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 103%;
  margin-left: -10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #2d49ab;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* nav
 */

header {
  background-color: #7289da;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
.login-box__label {
  text-transform: uppercase;
  float: left;
  font-size: 0.8rem;
  color: #fff;
}

/* register */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  color: #fff;
  width: 400px;
  background-color: #202431;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #7289da;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button {
  background-color: #7289da;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #677bc4;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

a {
  color: #7289da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.color-white {
  color: #fff;

  text-transform: uppercase;
}

/* dashboard
 */

/* .dashboard__container{
  display: flex;
  font-size: 2rem;

 }

 .dashboard__main-content{
  display: flex;
  flex-direction:row;
  width: 100%;
  border: 2px solid black;
 }

 .dashboard__active-now-aria{
  border: 2px solid red;
  height: 100vh;
  width: 25%;
 }

 .dashboard__chat-aria{
  border: 2px solid red;
  height: 100vh;
  width: 55%;
 }

 .dashboard__friends-aria{
  border: 2px solid red;
  height: 100vh;
  width: 20%;
 } */

/* .dashboard__container {
  display: flex;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  border: 2px solid black; */
/* }
.dashboard__sidebar {
  background-color: #252424;
  width: 3rem; */
/* border: #db0000;
  border-bottom: 3px solid #db0000; */
/* }
.dashboard__friends {
  width: 20%;
  background-color: #313131;
} */
/* .dashboard__active{
  background-color: #333;
 } */
/* .dashboard__nav-chat-active {
  background-color: #424242;
  /* border: 5px solid red; */
/* width: 72%;
  display: flex; */
/* flex-direction: column; */
/* } */
*/

/* .dashboard__active-chat {
  display: flex;
  flex-direction: row;
  /* border:2px solid #000; */
  /* height: 95%; */
  /* justify-content: space-between; */

  /* background-color:aqua; */
/* }
.dashboard__nav {
  height: 1.8rem;
  border-bottom: 0.5px solid rgb(94, 93, 93); */
  /* background-color: #2d49ab; */
/* } */ */

/* ************************************************************************************************************ */
/* sidebar */

/* .home__sidebar-chat {
  display: flex;
  /* background-color: red; */
/*
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__addChannel {
  cursor: pointer;
}

.sidebar__addChannel:hover {
  color: white;
}

.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__voice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  padding: 10px;
  border: 1px solid gray;
}

.sidebar__voiceInfo {
  flex: 1;
  padding: 10px;
}

.sidebar__voiceIcon {
  color: #4fb185;
}

.sidebar__voiceInfo > h3 {
  color: #4fb185;
}

.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}


.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.5;

  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: white;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
} */

body {
  top: 0;
  bottom: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  height: 100vh;
  background-color: red;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar__channels {
  flex: 1 1;
  overflow: scroll;
}

.sidebar_addchannels {
  cursor: pointer;
}
.sidebar_addchannels:hover {
  color: white;
}

.sidebar_channelsheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: grey;
}

.sidebar_header {
  display: flex;
  align-items: center;
}

.sidebar_voice,
.sidebar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  height: 68px;
  padding: 0px;
  border-top: 1px solid grey;
}

.sidebar_voiceinfo {
  flex: 1;
  padding: 10px;
}

.sidebar_voiceinfo > h3 {
  color: #4fb14f;
}

.sidebar_voiceinfo > p {
  font-size: smaller;
}

.sidebar_voiceIcon {
  color: #4fb14f;
}

.sidebar_voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__profile {
  height: 58px;

  display: flex;
  justify-content: space-between;
}
.sidebar__profileinfo {
  flex: 1;
  padding: 10px;
}

.sidebar__profileIcons {
  display: flex;
}
.sidebar__profileinfo > h3 {
  color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__hoverText {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  margin-top: -100px;
  margin-left: -5px;
  z-index: 1;
}
.sidebar__avatarIcon:hover + .sidebar__hoverText {
  visibility: visible;
}

.sidebar__channels::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar__channels {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat__input {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid grey;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputButton > MuiSvgIcon-root {
  padding: 5px;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebarchannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: grey;
  cursor: pointer;
}
.sidebarchannel__hash {
  font-size: 30px;
  padding: 8px;
}

.sidebarchannel:hover > h4 {
  color: white;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar__channels {
  flex: 1;
}

.sidebar_addchannels {
  cursor: pointer;
}
.sidebar_addchannels:hover {
  color: white;
}

.sidebar_channelsheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: grey;
}

.sidebar_header {
  display: flex;
  align-items: center;
}

.sidebar_voice,
.sidebar__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
  border-top: 1px solid grey;
}

.sidebar_voiceinfo {
  flex: 1;
  padding: 10px;
}

.sidebar_voiceinfo > h3 {
  color: #4fb14f;
}

.sidebar_voiceinfo > p {
  font-size: smaller;
}

.sidebar_voiceIcon {
  color: #4fb14f;
}

.sidebar_voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__profileinfo {
  flex: 1;
  padding: 10px;
}

.sidebar__profileinfo > h3 {
  color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__hoverText {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  margin-top: -100px;
  margin-left: -5px;
  z-index: 1;
}
.sidebar__avatarIcon:hover + .sidebar__hoverText {
  visibility: visible;
}

.sidebar__channels::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar__channels {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.message_info {
  margin-left: 20px;
}

.message_timestamp {
  color: grey;
  margin-left: 20px;
  font-size: x-small;
}
.chatHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: grey;
  padding: 10px;
}

.chatHeader__hash {
  color: grey;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__left {
  display: flex;
  align-items: center;
  color: white;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: white;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: grey;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
.Chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat__input {
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid grey;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputButton > MuiSvgIcon-root {
  padding: 5px;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
